In [19]:
import pandas as pd
import os
from tqdm import tqdm
import boto3  
from botocore.client import Config
from config import AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY

In [20]:
BUCKET_NAME = 'aws-bucket-smart-analytics'
#region_name = 'us-east-2'

In [21]:
s3 = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY)

In [22]:
# Directorio base
base_dir = './datasets/'

In [28]:
df = pd.read_csv('./datasets/file_list.csv')
df

                                                 File
0                    Alternative Fuel Vehicles US.csv
1                            data_reports_monthly.csv
2   Electric and Alternative Fuel Charging Station...
3                           ElectricCarData_Clean.csv
4                            ElectricCarData_Norm.csv
5                      fhvhv_tripdata_2022-06.parquet
6                      fhvhv_tripdata_2023-06.parquet
7                        fhv_tripdata_2022-06.parquet
8                        fhv_tripdata_2023-06.parquet
9                                       file_list.csv
10                     green_tripdata_2022-06.parquet
11                     green_tripdata_2023-06.parquet
12                            Light Duty Vehicles.csv
13                              taxi+_zone_lookup.csv
14                                     taxi_zones.csv
15                                     taxi_zones.dbf
16                       top_10_Electric_vehicles.csv
17                top_10_Hybrid_Electric_vehicles.csv
18                      Vehicle Fuel Economy Data.csv
19                    yellow_tripdata_2022-06.parquet
20                    yellow_tripdata_2023-06.parquet

In [30]:
# Itera a través de las filas del DataFrame con tqdm
for i in tqdm(range(len(df)), desc="Procesando archivos"):
    # Resto del código


#for i in tqdm(range(len(df), desc="Procesando archivos")):
    # Obtiene el nombre del archivo de la columna apropiada (ajusta el nombre de la columna)
    file_name = df['File'][i]

    # Construye la ruta completa
    ruta = os.path.join(base_dir, file_name)
    file_name = 'dataset/' + file_name
    s3.Bucket(BUCKET_NAME).put_object(Key=file_name, Body=ruta)

print("Done")

  0%|          | 0/21 [00:00<?, ?it/s]

100%|██████████| 21/21 [00:08<00:00,  2.34it/s]

Done