In [2]:
import pandas as pd 
from dbfread import DBF
import warnings
warnings.filterwarnings("ignore")
path_file = 'taxi_zones.dbf'

registros = []
with DBF('taxi_zones.dbf') as dbf:
    for registro in dbf:
        registros.append(dict(registro))

df = pd.DataFrame(registros)

df = df[['OBJECTID','zone','borough']]

df=df.rename(columns={'OBJECTID':'Location_id','zone':'Location_name','borough':'Borough'})
df=df.drop_duplicates(subset=['Location_name','Borough'])
df.to_csv('clean_data/clean_taxi_zone.csv',index=False, sep=';')

In [2]:
import pandas as pd

In [4]:
df= pd.read_csv('clean_data\clean_electric_car_data.csv')

In [11]:
df[df.duplicated()]

Empty DataFrame
Columns: [Brand, Model, PriceUSD]
Index: []

In [10]:
df.drop_duplicates(inplace=True)

In [12]:
df.to_csv('clean_electric_car_data.csv', index=False)

In [22]:
df= pd.read_csv('clean_data\clean_light_duty_vehicles.csv')

In [23]:
df.drop_duplicates(inplace=True,ignore_index=True)
df.rename(columns={'Model Year':'Year','Manufacturer':'Brand'},inplace=True)

df.to_csv('clean_data/clean_light_duty_vehicles.csv', index=False)

In [15]:
df[df.duplicated()]

,Model,Model Year,Manufacturer,Fuel
12,A6 quattro,2022,Audi,Hybrid Electric
77,Silverado 4WD,2022,Chevrolet,Biodiesel (B20)
95,Explorer Platinum HEV,2022,Ford,Hybrid Electric
231,GLE 450 4MATIC,2022,Mercedes-Benz,Hybrid Electric
263,1500 4X2,2022,Ram,Hybrid Electric
...,...,...,...,...
2906,Super Club Wagon,1999,Ford,CNG - Compressed Natural Gas
2931,Econoline Clubwagon,1998,Ford,CNG - Compressed Natural Gas
2934,Econoline E-250,1998,Ford,CNG - Compressed Natural Gas
2952,Econoline Clubwagon,1997,Ford,CNG - Compressed Natural Gas
2955,Econoline E-250,1997,Ford,CNG - Compressed Natural Gas

In [19]:
df.shape

(2870, 4)

In [18]:
df.drop_duplicates(inplace=True,ignore_index=True)

In [21]:
df.isnull().sum()

Model           0
Model Year      0
Manufacturer    0
Fuel            0
dtype: int64

In [ ]:
df.rename(columns={'Model Year':'Year','Manufacturer':'Brand'},inplace=True)